/* Manrope font - Latin extended */
/*@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-ext-400-normal.woff2') format('woff2'),
    url('/fonts/manrope/ttf/manrope-latin-ext-400-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-ext-500-normal.woff2') format('woff2'),
    url('/fonts/manrope/ttf/manrope-latin-ext-500-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-ext-800-normal.woff2') format('woff2'),
    url('/fonts/manrope/ttf/manrope-latin-ext-800-normal.ttf') format('truetype');
}*/

/* Manrope font - Latin */
/*@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-400-normal.woff2') format('woff2'),
    url('/fonts/manrope/webfonts/manrope-latin-400-normal.woff') format('woff'),
    url('/fonts/manrope/ttf/manrope-latin-400-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-500-normal.woff2') format('woff2'),
    url('/fonts/manrope/webfonts/manrope-latin-500-normal.woff') format('woff'),
    url('/fonts/manrope/ttf/manrope-latin-500-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/manrope/webfonts/manrope-latin-800-normal.woff2') format('woff2'),
    url('/fonts/manrope/webfonts/manrope-latin-800-normal.woff') format('woff'),
    url('/fonts/manrope/ttf/manrope-latin-800-normal.ttf') format('truetype');
}*/

/* Poppins font - Latin extended */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-ext-400-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-ext-400-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-ext-400-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-ext-500-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-ext-500-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-ext-500-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-ext-800-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-ext-800-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-ext-800-normal.ttf') format('truetype');
}

/* Poppins font - Latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-400-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-400-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-400-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-500-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-500-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-500-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/poppins/webfonts/poppins-latin-800-normal.woff2') format('woff2'),
    url('/fonts/poppins/webfonts/poppins-latin-800-normal.woff') format('woff'),
    url('/fonts/poppins/ttf/poppins-latin-800-normal.ttf') format('truetype');
}

/* Anybody font - Latin extended */
/*@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-ext-400-normal.woff2') format('woff2'),
    url('/fonts/anybody/ttf/anybody-latin-ext-400-normal.ttf') format('truetype');
}*/

/*@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-ext-500-normal.woff2') format('woff2'),
    url('/fonts/anybody/ttf/anybody-latin-ext-500-normal.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-ext-800-normal.woff2') format('woff2'),
    url('/fonts/anybody/ttf/anybody-latin-ext-800-normal.ttf') format('truetype');
}

/* anybody font - Latin */
/*@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-400-normal.woff2') format('woff2'),
    url('/fonts/anybody/webfonts/anybody-latin-400-normal.woff') format('woff'),
    url('/fonts/anybody/ttf/anybody-latin-400-normal.ttf') format('truetype');
}*/

/*@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-500-normal.woff2') format('woff2'),
    url('/fonts/anybody/webfonts/anybody-latin-500-normal.woff') format('woff'),
    url('/fonts/anybody/ttf/anybody-latin-500-normal.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src:
    url('/fonts/anybody/webfonts/anybody-latin-800-normal.woff2') format('woff2'),
    url('/fonts/anybody/webfonts/anybody-latin-800-normal.woff') format('woff'),
    url('/fonts/anybody/ttf/anybody-latin-800-normal.ttf') format('truetype');
}

:root {
  /* Base color in HSL for easy variants */
  --primary-h: 357;
  --primary-s: 65%;

  --secondary-h: 177;
  --secondary-s: 65%;

  /* Lightness scale */
  --primary-950: hsl(var(--primary-h), var(--primary-s), 15%);
  --primary-900: hsl(var(--primary-h), var(--primary-s), 25%);
  --primary-800: hsl(var(--primary-h), var(--primary-s), 35%);
  --primary-700: hsl(var(--primary-h), var(--primary-s), 45%);
  --primary-600: hsl(var(--primary-h), var(--primary-s), 55%);
  --primary-500: hsl(var(--primary-h), var(--primary-s), 65%);
  --primary-400: hsl(var(--primary-h), var(--primary-s), 75%);
  --primary-300: hsl(var(--primary-h), var(--primary-s), 85%);
  --primary-200: hsl(var(--primary-h), var(--primary-s), 90%);
  --primary-100: hsl(var(--primary-h), var(--primary-s), 95%);
  --primary-50: hsl(var(--primary-h), var(--primary-s), 98%);
  --primary: #d3323a;

  --secondary-950: hsl(var(--secondary-h), var(--secondary-s), 15%);
  --secondary-900: hsl(var(--secondary-h), var(--secondary-s), 25%);
  --secondary-800: hsl(var(--secondary-h), var(--secondary-s), 35%);
  --secondary-700: hsl(var(--secondary-h), var(--secondary-s), 45%);
  --secondary-600: hsl(var(--secondary-h), var(--secondary-s), 55%);
  --secondary-500: hsl(var(--secondary-h), var(--secondary-s), 65%);
  --secondary-400: hsl(var(--secondary-h), var(--secondary-s), 75%);
  --secondary-300: hsl(var(--secondary-h), var(--secondary-s), 85%);
  --secondary-200: hsl(var(--secondary-h), var(--secondary-s), 90%);
  --secondary-100: hsl(var(--secondary-h), var(--secondary-s), 95%);
  --secondary-50: hsl(var(--secondary-h), var(--secondary-s), 98%);
  --secondary: #32d3cb;

  --green: hsl(152deg 76% 40% / 1);
  --blue: hsl(204deg 84% 40% / 1);
  --red: var(--primary-600);
  --orange: hsl(40deg 89% 52% / 1);
  --yellow: hsl(50deg 89% 52% / 1); /* #d3cb32 */

  --dark: #1c1b1b;
  --muted: #696a6c;
  --light: #f3f4f6;

  --font: 'Poppins', sans-serif;
  --display-font: 'Anybody', sans-serif;

  --max-content-width: min(100%, 1440px);
  --whitespace: 24px;
}

@media (min-width: 1485px) {
  :root {
    --whitespace: calc((100vw - var(--max-content-width) + 24px) / 2);
  }
}

@view-transition {
  navigation: auto;
}

/* Minimal Modern Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  container-type: inline-size;
}

body {
  font-family:
    var(--font),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button > img:first-child {
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.link {
  color: var(--primary-700);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-weight: 500;
}

.link:hover {
  color: var(--primary-800);
  text-decoration: underline;
}
